---
import Layout from '../layouts/Layout.astro';
import ArticleList from '../components/ArticleList.astro';
import { Image } from 'astro:assets';

const apiUrl = import.meta.env.PUBLIC_USER_API_URL;
const apiToken = import.meta.env.PUBLIC_API_TOKEN;

if (!apiUrl || !apiToken) {
	throw new Error('Missing PUBLIC_USER_API_URL or PUBLIC_API_TOKEN env variables!');
}

// Fetch the user data at build time
const res = await fetch(apiUrl, {
    headers: {
        Authorization: `Bearer ${apiToken}`
    }
});

if (!res.ok) {
    throw new Error(`Failed to fetch user data: ${res.status} ${res.statusText}`);
}

const page = await res.json();
---

<Layout>
	<!-- Banner -->
	<section id="banner" class="major">
		<div class="inner">
			<header class="major">
				<h1>{page.sections.hero.blocks.description.data.content}</h1>
			</header>
			<div class="content">
				<p set:html={page.sections.hero.blocks.description.data.content} />
				<!-- {user.avatar_url && (
					<img src={user.avatar_url} alt="User Avatar" width="100" />
				)} -->
				<ul class="actions">
					<li><a href="#one" class="button next scrolly">Some button</a></li>
				</ul>
			</div>
		</div>
	</section>

	<!-- Main -->
	<div id="main">
		<ArticleList items={page.sections.hero.block_groups.masonary} />

		<!-- Two -->
		<section id="two">
			<div class="inner">
				<header class="major">
					<h2>{page.sections['about-us'].blocks.title.data.content}</h2>
				</header>
				<p>{page.sections['about-us'].blocks.description.data.content}</p>
				<ul class="actions">
					<li><a href="landing.html" class="button next">{page.sections['about-us'].blocks.button.data.content}</a></li>
				</ul>
			</div>
		</section>

	</div>
</Layout>
